<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <div class="container">
      <div class="title">
        <h2>Login</h2>
      </div>
      <div class="row">
         <form action="/login" method="post">
         <div class="col">
            <label for="email" id="email">Email Address</label>
            <input type="email" name="username">
         </div>
         <div class="col">
            <label for="email" id="email">Password</label>
            <input type="password" name="userPass">
         </div>
        </div>
         <div class="submit">
            <button>Login</button>
         </div>
       </form>
       <% if(error){ %>
           <div><%= error %></div>
      <%}%>
    </div>
</body>
</html>