*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    border: 2px solid red;
    margin: 50px auto;
    width: 40%;
    height: 400px;
} 
.title{
     margin: 20px;
     text-align: center;
     font-size: 20px;
     background-color: aqua;
}
.row{
    display: inline-block;
}